<div class="book-container"> 
    <img src={{book.image}} alt={{book.title}}>
    <h2>{{book.title}}</h2>
    <p><strong>Автор:</strong>{{book.author}}</p>
    <p><strong>Жанр:</strong> {{book.genre}}</p>
    <p><strong>Година:</strong>{{book.year}}</p>
    <p>{{book.description}}.</p>
    @if(isLoggedIn){
    @if(isOwner){
    <button class="button">Edin</button>
    <button (click)="remove()">Delete</button>
    }@else {
    @if(!isLiked){
    <button (click)="like()">Like</button>
    }
    <button class="button">Buy</button>
    <button class="button">Rent</button>
    }
    }
    <p><span>{{book.likes?.length || 0}}</span> likes</p>
</div>
