<h2>Харесани Продукти</h2>
@if(books.length > 0){
    <div class="catalog section">
        @for (book of books; track $index) {
        <div class="product">
            <a [routerLink]="book._id" class="normal">
                <h3>{{book.title}}</h3>
            </a>
            <img height="400" style="float:left, margin-bottom: 10px" src={{book.image}}
        alt={{book.title}}>
            <p>{{book.description | slice :0:60}}...</p>
        </div>
        }
    </div>
} @else {
    <h2 style="margin-left:25%">Все още колекцията ви е празна.</h2>
    <h2 style="margin-left:25%">Разгледайте нашия каталог с книги.</h2>
}
