<div class="register-form">
    <h2>Регистрация</h2>
    <form [formGroup]="form" (ngSubmit)="register()">
        <label for="username">Потребителско име</label> <input 
        [class]="isFiledTextMissing('username') ||isNotMinLength? 'input-error':''" 
        type="text" id="username" name="username"
            placeholder="username" formControlName="username">
        @if(form.get('username')?.touched){
        <div>
            @if(form.get('username')?.errors?.['required']){
            <p class="error">
                Username is required!
            </p>
            }
            @if(form.get('username')?.errors?.['minlength']){
            <p class="error">
                Username must be at least 5 characters!
            </p>
            }
        </div>
        }
        <label for="email">Имейл</label> <input 
        [class]="isFiledTextMissing('email') || isEmailNotValid ? 'input-error' : ''"
        type="email" id="email" name="email" placeholder="email"
            formControlName="email">
        @if(form.get('email')?.touched){
        <div>
            @if(form.get('email')?.errors?.['required']){
            <p class="error">
                Email is required!
            </p>
            }
            @if(form.get('email')?.errors?.['emailValidator']){
            <p class="error">
                Email is not valid!
            </p>
            }
        </div>
        }
        <div formGroupName="passGroup">
            <label for="password">Парола</label> <input 
            [class]="((passGroup?.get('password')?.touched &&
                    (passGroup?.get('password')?.errors?.['required'])||
                    (passGroup?.get('password')?.touched)&&
                    (passGroup?.get('password')?.errors?.['minlength']))
                )?'input-error': '' "
            type="password" id="password" name="password"
                placeholder="******" formControlName="password">
            @if(passGroup?.get('password')?.touched){
            <div>
                @if(passGroup?.get('password')?.errors?.['required']){
                <p class="error">
                    Password is required!
                </p>
                }
                @if(passGroup?.get('password')?.errors?.['minlength']){
                <p class="error">
                    Password must be at least 5 characters!
                </p>
                }
            </div>
            }
            <label for="confirm-password">Потвърди паролата</label> <input 
            [class]="((passGroup?.get('rePassword')?.touched &&
                    (passGroup?.get('rePassword')?.errors?.['required'])||
                    (passGroup?.errors?.['mathPasswordsValidator']))
                )?'input-error': '' "
            type="password" id="confirm-password"
                name="confirm-password" placeholder="******" formControlName="rePassword">
            @if(passGroup?.get('rePassword')?.touched){
            <div>
                @if(passGroup?.errors?.['matchPassword']||passGroup?.get('rePassword')?.errors?.['required']){
                <p class="error">Repeat Password does not match password!</p>
                }
            </div>
            }

        </div>
        <button type="submit">Регистрация</button>
    </form>
</div>