<div class="form-container" >
    <h2>Добавяне на нова книга</h2>
    <form #form="ngForm" (ngSubmit)="createBook(form)">
         <label for="title">Заглавие</label> <input type="text" id="title"
            name="title" ngModel #inputTitle required> 
            <label for="author">Автор</label> <input type="text" id="author" name="author"
            ngModel #inputAuthor  required> 
            <label for="genre">Жанр</label> <input type="text" id="genre" name="genre" ngModel #inputGenre required> 
            <label
            for="year">Година</label> <input type="number" id="year" name="year" ngModel #inputYear required> 
            <label
            for="description">Описание</label> <textarea id="description" name="description" rows="4"
            ngModel #inputDescription  required></textarea>
             <label for="image">URL на изображението</label> <input type="text" id="image"
            name="image" ngModel #inputImage required> 
            <button >Добави книга</button> </form>
</div>