<div class="container">
    <h1>Най-популярни продукти</h1>
    <div class="catalog section">
        <div class="most-popular section">
            <div class="product"> <img
                    src="https://knigomania.bg/media/catalog/product/cache/6756d314d8f6988db1e13a93242e653e/t/a/tajnata-gradina-9789542847243.jpg"
                    alt="Тайната градина">
                <h2>Тайната градина</h2>
                <p>Историята на едно момиче, което открива магическа градина и променя живота си и живота на други.</p>
            </div>