<div class="header">
    <h1>БАЗАР ЗА КНИГИ</h1>
    <p>Купуване и наемане на книги!</p>
</div>
<div class="topnav">
    <nav>
        <a routerLink="/home">Начало</a>
        <a routerLink="/catalog">Каталог с книги</a>
        <a routerLink="/search">Търсене</a>
        @if(isLoggedIn){
            <a routerLink="/create">Добави</a>
            <a class="profile-menu-item" (click)="logout()">Излез</a>
            <a class="profile-menu-item" routerLink="/liked">Харесани</a>
            <a class="profile-menu-item" routerLink="/profile">{{username}}</a>
        }@else {
            <a routerLink="/login">Вход</a>
            <a routerLink="/register">Регистрация</a>
        }
    </nav>
</div>
