<div class="login-form">
    <h2>Логин</h2>
    @if(!loginInProgress){
    <form [formGroup]="form" (ngSubmit)="login()">
        <label for="email">Имейл</label>
        <input [class]="isFiledTextMissing('email') || isEmailNotValid ? 'input-error' : ''" type="email" id="email"
            name="email" formControlName="email" required>
        @if(form.get('email')?.touched){
        <div>
            @if(form.get('email')?.errors?.['required']){
            <p class="error">
                Email is required!
            </p>
            }
            @if(form.get('email')?.errors?.['emailValidator']){
            <p class="error">
                Email is not valid!
            </p>
            }
        </div>
        }
        <label for="password">Парола</label>
        <input [class]="((form.get('password')?.touched &&
        (form.get('password')?.errors?.['required'])||
        (form.get('password')?.touched)&&
        (form.get('password')?.errors?.['minlength']))
    )?'input-error': '' " type="password" id="password" name="password" formControlName="password" required>
       @if(form.get('password')?.touched){
        <div>
            @if(form.get('password')?.errors?.['required']){
            <p class="error">
                Password is required!
            </p>
            }
            @if(form.get('password')?.errors?.['minlength']){
            <p class="error">
                Password must be at least 5 characters!
            </p>
            }
        </div>
        }
        <button>Вход</button>
    </form>
    } @else {
    <p>
        <img height="400"
            src="https://img.pikbest.com/png-images/20190918/cartoon-snail-loading-loading-gif-animation_2734139.png!bw700"
            alt="loading...">
    </p>
    }
</div>